
$prime-color: #FF8217;
$prime-bg: rgba(0, 0, 0, 0.95);
$seconde-color: #AC483B;
$seconde-bg: rgba(68, 68, 68, 0.9);
$focus-bg: rgba(255, 130, 23, 0.9);
$focus-color: #EEE;

$prime-text:#EEE;

$error-85: rgba(212, 0, 0, 0.85);

/* Text styles */
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Niconne');

@media (min-width: 62em) {
  .navbar-toggleable-md {
    display: block !important;
  }
}

.view {
  overflow:auto;
  height:calc(100vh - 68px);
  max-width:100vw;
  padding:0;
}

.card {
  border: none;
}

a { font-weight: 500; cursor: pointer; }
a:hover.button { text-decoration: none; color: #000; }
h1 { font-family: 'Akashi';  font-size: 40px; line-height: 50px; color: #ffffff; }
h2, h2 a { font-family: 'Akashi' !important; font-size: 30px; line-height: 1; margin:0 0 10px; color: #ffffff; }
h3 { font-family: 'Akashi';  font-size: 24px; line-height: 1; margin:8px 0; color: #ffffff; }
.prime h3 {
  color: $prime-color;
}
.seconde h3 {
  color: $seconde-color;
}
h4 { font-family: 'Akashi';  font-size: 18px; line-height: 1; margin:2px 0; color: #ffffff; }
h5 { font-weight:700; text-decoration: underline; margin:5px; text-align: center; }
h6 { font-weight:700; }
p, .vdatetime-input { font-size: 14px; line-height: 18px; text-align: justify; color:#cccccc; display:inline-block; }
.plain form { font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; color:#cccccc; display:inline-block; }
input, select { color:#000000;}

table { font-family:'Muli'; font-size: 14px; line-height: 18px; }
th {text-transform: uppercase;}
ul { font-family:'Muli'; font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; color:#cccccc;}
li > h3 { display:inline; }

.vdatetime-input {
  border: none;
  background: transparent;
  text-align: center;
  color: #EEE;
}

.vdatetime-overlay {
  position: fixed;
  top: 68px;
  left:0;
  background: rgba(0,0,0,0.9);
  margin: 0 -0.9375rem;
  width: 100%;
  height: calc(100vh - 68px);
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vdatetime-popup__header, .vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $prime-color !important;
}
.vdatetime-popup__actions__button,.vdatetime-time-picker__item--selected {
  color: $prime-color !important;
}

/* HEADER */
#Intro { position:relative; width:100vw; height:18px; background:transparent; font-size: 12px;box-sizing: border-box; line-height: 18px;text-align:center; font-family:'Muli'; color:#FFF; font-weight:600; z-index:2;}
#Logo { position:fixed; top:0px; left:0; margin:0 10px; height: 90px; width: 120px; cursor: pointer; background: url('~@/assets/league/Logo_S.png') no-repeat; background-position: center 2px; background-size:contain; z-index:100;}
/* Navbar */
.navbar { color:#ffffff;  height:50px; margin:0; padding: 0 0 0 170px; border-radius: 0; background: url('~@/assets/elements/navbar.jpg'); border-bottom: 3px solid #FF8217;}

.navbar-brand { padding:0; margin:0; font-size: 36px; max-width:calc(100vw - 160px); }


.collapse.in { width: 100vw; background: #000000; padding: 5px 5px 5px 110px;}
nav > ul > li { font-family: "Akashi" !important; height: 50px; margin: 0 0 0 -5px; display: inline-block; cursor: pointer; line-height:50px; }
nav > ul > li:hover { background: linear-gradient(to left, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 5%);}
nav > ul > li:active { background: transparent; box-shadow: inset 0 1px 2px rgba(0,0,0,0.5);}
nav > ul > li > a { text-decoration: none; color: #FFFFFF; line-height:50px; font-weight: 400;  font-family: "Akashi"; display:block; height:100%; width:100%; padding: 0 10px !important; }
nav > ul > li:hover > a { text-decoration: none; color: #CCCCCC;}
nav > ul > li > a:active { text-decoration: none; color: #D30000;}
nav > ul > li > a:visited { text-decoration: none; color: #FFFFFF;}

.topright {
  top: 0px;
  right: 0px;
  width: 200px;
  height: 30px;
  padding: 0 5px 0 25px;
  line-height: 30px;
  color: #444;
  font-family: "Muli";
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  background: url('~@/assets/elements/Button_TopRight.png');
}

/* BODY */

.plain {
  position:relative;
  margin:20px 10px;
  padding:10px 15px;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid;
  border-color:inherit;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.9);
}


.stick-left {
  padding-left: 0;
}
.stick-right {
  padding-right: 0;
}
.stick-right .plain {
  margin-right:0;
  border-bottom: 0;
  border-left: 2px solid;
  border-radius: 5px 0 0 5px;
}

.prime {
  border-color: $prime-color !important;
  background: $prime-bg;
}
.seconde {
  border-color: $seconde-color !important;
  background: $seconde-bg;
}

.seconde .background {
  background: $seconde-color;
}

/* GRAPHICS */
.star {
  font-size: 30px;
  line-height: 30px;
  display: inline-block;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* DISPLAY*/

.veil {
      position: fixed;
      left:0;
      background: rgba(0,0,0,0.9);
      margin: 0 -0.9375rem;
      width: 100%;
      height: calc(100vh - 68px);
      top: 68px;
      z-index: 4;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
}

.modal {
  display: inline-block;
  position:fixed;
  margin: 0px 10vw;
  padding: 1vh 2vw 0px;
  width: 80vw;
  max-width: 80vw;
  max-height: calc(100vh - 150px);
  top: 100px;
  left: 0;
  z-index: 5;
  .scroll {
    height:60vh;
    overflow-x: auto;
  }
  h3 {
    text-align: left;
  }
}


/* UTILITIES */
.text-cutter {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  -ms-word-wrap: break-word;
  -webkit-word-wrap:
  break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.zelda {
  cursor:pointer;
}
.triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent  !important;
  border-right: 5px solid transparent !important;
  border-bottom: 5px solid #FFFFFF;
}
.down {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);}
.spacer {
  display:inline-block;
  height:30px;
  width:200px;
}

/*Tables*/
.plain table { width: 100%; color:#FFFFFF;  text-align: center; }
.td-left { text-align: left; padding-left: 10px; text-align: center; }
tbody.table-hover tr:hover { background-color:transparent; background: #000000; }


/*Admin*/
.success {color:green;}
.processing {color:orange;}
.failure {color:red;}
