//SUMMER
$prime-color: #FFC000;
$prime-bg: rgba(11, 9, 0, 0.95);
$seconde-color: #FFA00B;
$seconde-bg: rgba(48, 45, 37, 0.9);
$focus-bg: rgba(255, 192, 0, 0.8);
$focus-color: #EEE;
$prime-text:#EEE;
$seconde-text:#CCC;
$shadow: rgba(0, 0, 0, 0.90);
$link-contrast: #000;
$error-85: rgba(212, 0, 0, 0.85);
$main-bg: url('~@/assets/elements/summer/background.jpg');
th { color:#000; }

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

/* Text styles */
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,700i');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@font-face {
    font-family: "Akashi";
    src: url('~@/assets/styles/Akashi.ttf');
}

body {
  background: transparent !important;
}

.view {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 65px);
  max-width: 100vw !important;
  padding: 0;
  position: relative;
}

.card {
  border: none;
}

a { font-weight: 500; cursor: pointer; }
a:hover.button { text-decoration: none; color: $link-contrast; }
h1 { font-family: 'Akashi';  font-size: 40px; line-height: 50px; color: $prime-text; }
h2, h2 a { font-family: 'Akashi' !important; font-size: 30px; line-height: 1; margin:0 0 10px; color: $prime-text; }
h3 { font-family: 'Akashi';  font-size: 24px; line-height: 1; margin:8px 0; color: $prime-text; }
.prime h3 {
  color: $prime-color;
}
.seconde h3 {
  color: $seconde-color;
}
h4 { font-family: 'Akashi';  font-size: 18px; line-height: 1; margin:2px 0; color: $prime-text; }
h5 { font-weight:700; text-decoration: underline; margin:5px; text-align: center; }
h6 { font-weight:700; }
p, .vdatetime-input { font-size: 14px; line-height: 18px; text-align: justify; color:$seconde-text; display:inline-block; }
.plain form { font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; color:$seconde-text; display:inline-block; }
input, select { color: $link-contrast;}

table { font-family:'Muli'; font-size: 14px; line-height: 18px; }
th {text-transform: uppercase;}
ul { font-family:'Muli'; font-family:'Muli'; font-size: 14px; line-height: 18px; text-align: justify; color:$seconde-text;}
li > h3 { display:inline; }

.vdatetime-input {
  border: none;
  background: transparent;
  text-align: center;
  color: $prime-text;
}

.vdatetime-overlay {
  position: fixed;
  top: 68px;
  left:0;
  background: $shadow;
  margin: 0 -0.9375rem;
  width: 100%;
  height: calc(100vh - 68px);
  z-index: 4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vdatetime-popup__header, .vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span {
  background: $prime-color !important;
}
.vdatetime-popup__actions__button,.vdatetime-time-picker__item--selected {
  color: $prime-color !important;
}



.tab {
  cursor:pointer;
  width: 200px;
  height: 30px;
  padding: 0 5px 0 25px;
  line-height: 30px;
  color: $link-contrast;
  text-align: center;
  vertical-align: middle;
  background: url('~@/assets/elements/Tab.png');
}
.tab + .tab {
  background: url('~@/assets/elements/TabN.png');
}

/* BODY */

.plain {
  position:relative;
  margin:20px 20px 40px;
  padding:10px 15px 45px;
  border-radius: 0 0 5px 5px;
  border-bottom: 2px solid;
  border-color:inherit;
  box-shadow: 0px 5px 10px $shadow;
}


.stick-left {
  padding-left: 0;
}
.stick-right {
  padding-right: 0;
  .plain {
    margin-right:0;
    border-bottom: 0;
    border-left: 2px solid;
    border-radius: 5px 0 0 5px;
  }
  .prime  {
    border-color: $prime-color;
  }
  .seconde {
    border-color: $seconde-color ;
  }
}

.prime  {
  border-color: $prime-color;
  background: $prime-bg;
  tbody.table-hover tr:hover {
    background: linear-gradient(to right,  $prime-bg, $focus-bg, $prime-bg);
  }
}
.seconde {
  border-color: $seconde-color ;
  background: $seconde-bg;
  .background {
    background: $seconde-color;
  }
  tbody.table-hover tr:hover {
    background: linear-gradient(to right,  $seconde-bg, $seconde-color, $seconde-bg);
  }
}

/* GRAPHICS */
.star {
  display: inline-block;
}

/* DISPLAY*/

.veil {
  position: fixed;
  left:0;
  background: $shadow;
  margin: 0;
  width: 100%;
  height: calc(100vh - 65px);
  top: 65px;
  z-index: 25;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: inline-block;
  position: relative;
  //margin: 0px 10vw;
  //padding: 1vh 2vw;
  width: 80vw;
  max-width: 80vw;
  max-height: calc(90vh - 65px);
  left: 0;
  z-index: 30;
  .scroll {
    height:calc(80vh - 170px);
    overflow-x: auto;
  }
  h3 {
    text-align: left;
  }
}

.tabs {
  padding: 0;
}

/* UTILITIES */
.text-cutter {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  -ms-word-wrap: break-word;
  -webkit-word-wrap:
  break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.zelda {
  cursor:pointer;
}
.triangle {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent  !important;
  border-right: 5px solid transparent !important;
  border-bottom: 5px solid $prime-text;
}
.down {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);}
.hidden {
  opacity: 0;
}

/*Tables*/
.plain table { width: 100%; color:$prime-text;  text-align: center; }
.td-left { text-align: left; padding-left: 10px; text-align: center; }
tbody.table-hover tr:hover { background-color:transparent; background: $link-contrast; }
